<table class="table table-light">
    <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Titulo</th>
            <th scope="col">Edicion</th>
            <th scope="col">Id Autor</th>
            <th scope="col">Id Categoria</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody *ngFor="let libro of libros">
          <tr>

              <th scope="row">{{libro.id}}</th>
              <td>{{libro.titulo}}</td>
              <td>{{libro.edicion}}</td>
              <td>{{libro.IdAutor}}</td>
              <td>{{libro.IdCategoria}}</td>
              <td><a class="btn btn-light tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
              <td><a  class="btn btn-light tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-timesgi"  aria-hidden="true"></i></a></td>
          </tr>
        </tbody>
      </table>
