<div id="main-container">
<div id="titulo">
    <h2>Categorias</h2>
</div>
<div id="addCategoria">
    <a>Añadir Categoria<span class="sr-only">(current)</span></a>
    <a (click)="onOpenModal(null!, 'add')" class="btn btn-outline-warning tooltips"><i class="fa fa-plus fa-xs"></i></a>
</div>
<div id="clear"></div>
<div class="row">
    <div *ngFor="let categoria of categorias" class="col-md-6 col-xl-3">
        <div class="card m-b-30">
            <div class="card-body row">
                <div class="col-6 card-title mb-0">
                    <h5>{{categoria?.descripcion}}</h5>
                </div>
            </div>
            <div class="card-body">
                <div class= "float-right">
                    <a (click)="onOpenModal(categoria, 'edit')" class="btn btn-outline-warning tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a (click)="onOpenModal(categoria, 'delete')" class="btn btn-outline-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"  aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Add modal-->
<div class="modal fade" id="addCategoriaModal" tabindex="-1" role="dialog" aria-labelledby="addCategoriaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="addCategoriaModalLabel">Añadir Categoria</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #addForm="ngForm" (ngSubmit)="onAddCategoria(addForm)">
             <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <input type="text" ngModel name="descripcion" class="form-control" id="descripcion" placeholder="Descripcion" required>
             </div>
             <div class="modal-footer">
                <button type="button" id="add-categoria-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-warning" >Guardar</button>
             </div>
             </form>
          </div>
       </div>
    </div>
 </div>

<div class="modal fade" id="updateCategoriaModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateCategoriaModalLabel">Editar Categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
            <form #editForm="ngForm">
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <input type="text" ngModel="{{updateCategoria?.descripcion}}" name="descripcion" class="form-control" id="descripcion" aria-describedby="emailHelp" placeholder="Descripcion" required>
                </div>
                <input type="hidden" ngModel="{{updateCategoria?.id}}" name="id" class="form-control" id="id" placeholder="id">
                <div class="modal-footer">
                    <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                    <button (click)="onUpdateCategoria(editForm.value)" data-dismiss="modal" class="btn btn-warning">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>

<div class="modal fade" id="deleteCategoriaModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteModelLabel">Borrar Libro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>¿Seguro que quieres borrar la categoria <strong>"{{deleteCategoria?.descripcion}}"</strong>?</p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteCategoria(deleteCategoria.id)" class="btn btn-danger" data-dismiss="modal">Si</button>
            </div>
        </div>
    </div>
    </div>
</div>