
.nav-item a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;

}

.navbar-brand {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.nav-item a:hover {
    color: rgb(255, 238, 0);
}

.btn:hover {
    background-color: #343a40;
    border: 0;
}

.dropdown-toggle {
    border: 0;
}