<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <desy-header [classes]="'fixed-top'">
      <desy-header-navigation [classes]="'text-white text-center font-semibold text-xs mt-base'" class="items">
        <desy-header-navigation-item [routerLink]="'/'">Inicio</desy-header-navigation-item>
        <desy-header-navigation-item [routerLink]="'/autor/all'">Autores</desy-header-navigation-item>
        <desy-header-navigation-item [routerLink]="'/libro/all'">Libros</desy-header-navigation-item>
        <desy-header-navigation-item [routerLink]="'/categoria/all'">Categorías</desy-header-navigation-item>
      </desy-header-navigation>
  </desy-header>
  <router-outlet></router-outlet>
</body>

</html>