<div id="main-container" class="bg-neutral-lighter">
    <div>
        <h1>AA</h1>
    </div>
    <div id="titulo">
        <h2>Autores</h2>
    </div>
    <div id="addautor">
        <desy-button (click)="onOpenModal(null!, 'add')"
            [classes]="'c-button--primary ml-sm c-button--sm text-semibold'">
            Añadir autor<i class="fa fa-plus fa-xs"></i>
        </desy-button>
    </div>
    <div id="clear"></div>
    <div class="flex flex-wrap flex-auto" id="main">
        <desy-item *ngFor="let autor of autors | paginate: {itemsPerPage: 12, currentPage: page}" [classes]="'w-72 my-sm mx-sm border-r border-l border-neutral-base rounded bg-white'" id="table">
            <desy-title>
                <h5><strong>{{autor?.nombre}}</strong></h5>
                {{autor?.apellido1}} {{autor?.apellido2}}
            </desy-title>
            <desy-description>
                <p class="border-b border-black"><i class="fa fa-user" id="table-icon"></i> <strong>DNI:</strong> {{autor?.dni}}</p>
                <p class="border-b border-black"><i class="fa fa-envelope" id="table-icon"></i> {{autor?.email}}</p>
                <p class="border-b border-black"><i class="fa fa-phone" id="table-icon"></i> {{autor?.telefono}}</p>
            </desy-description>
            <desy-item-content-bottom [classes]="'flex justify-end'">
                <desy-button (click)="onOpenModal(autor, 'edit')"
                        [classes]="'c-button c-button--primary mr-sm c-button--sm'" data-placement="top"
                        data-original-title="Edit" id="editbutton">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </desy-button>
                    <desy-button (click)="onOpenModal(autor, 'delete')"
                        [classes]="'c-button c-button--alert  mr-sm c-button--sm'" data-placement="top"
                        data-original-title="Delete" id="deletebutton">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </desy-button>
            </desy-item-content-bottom>
        </desy-item>

        <!--<desy-table *ngFor="let autor of autors | paginate: {itemsPerPage: 12, currentPage: page}" [classes]="'w-72 my-sm mx-sm border-r border-l border-neutral-base rounded bg-white'" id="table">
            <desy-table-row>
                <desy-table-cell [colspan]="2">
                    <h5><strong>{{autor?.nombre}}</strong></h5>
                    {{autor?.apellido1}} {{autor?.apellido2}}
                </desy-table-cell>
            </desy-table-row>
            <desy-table-row>
                <desy-table-cell [colspan]="2">
                    <i class="fa fa-user" id="table-icon"></i> <strong>DNI:</strong> {{autor?.dni}}
                </desy-table-cell>
            </desy-table-row>
            <desy-table-row>
                <desy-table-cell [colspan]="2">
                    <i class="fa fa-envelope" id="table-icon"></i> {{autor?.email}}
                </desy-table-cell>
            </desy-table-row>
            <desy-table-row>
                <desy-table-cell [colspan]="2">
                    <i class="fa fa-phone" id="table-icon"></i> {{autor?.telefono}}
                </desy-table-cell>
            </desy-table-row>
            <desy-table-row>
                <desy-table-cell [classes]="'flex justify-end'" >
                    <desy-button (click)="onOpenModal(autor, 'edit')"
                        [classes]="'c-button c-button--primary mr-sm c-button--sm'" data-placement="top"
                        data-original-title="Edit" id="editbutton">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </desy-button>
                    <desy-button (click)="onOpenModal(autor, 'delete')"
                        [classes]="'c-button c-button--alert  mr-sm c-button--sm'" data-placement="top"
                        data-original-title="Delete" id="deletebutton">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </desy-button>
                </desy-table-cell>
            </desy-table-row>
        </desy-table>-->
    </div>
    <pagination-controls (pageChange)="page = $event" nextLabel="Siguiente" previousLabel="Anterior" class="paginator">
    </pagination-controls>

    <!--Add modal-->
    <desy-modal [id]="'addAutorModal'" [tabindex]="'-1'" [role]="'dialog'" [ariaLabelledBy]="'addAutorModalLabel'"
        [ariaHidden]="'true'" [classes]="'modal border border-neutral-base rounded bg-white max-w-lg'">
        <desy-title>
            Añadir autor
        </desy-title>
        <desy-description>
            <div class="flex justify-center p-base">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em"
                    class="block w-16 h-16 text-primary-light" focusable="false" aria-hidden="true" role="presentation">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5">
                        <path
                            d="M16.094 91.17a9.707 9.707 0 01-5.145-17.938L118.767 5.833a9.7 9.7 0 0114.676 10.034l-21 111.842a9.707 9.707 0 01-17.301 4.031L64.75 91.17z"
                            stroke-width="8.749995" />
                        <path
                            d="M64.75 91.17H50.167v30.163a9.7 9.7 0 0015.166 8.015l18.539-12.635zM64.744 91.17l64.633-85.11"
                            stroke-width="8.749995" />
                    </g>
                </svg>
            </div>
            <form #addForm="ngForm" class="my-sm">
                <desy-label [for]="'dni'" [classes]="'text-left'">
                    DNI<span id="obligatorio"> *</span>
                </desy-label>
                <desy-input ngModel name="dni" [pattern]="'{0-9}[8]{A-Z}[1]'" [type]="'text'"
                    [classes]="'block border-primary rounded placeholder-neutral-dark w-full mb-sm'" id="dni"
                    placeholder="DNI" required></desy-input>
                <desy-label [for]="'nombre'" [classes]="'text-left'">
                    Nombre<span id="obligatorio"> *</span>
                </desy-label>
                <desy-input ngModel name="nombre"
                    [classes]="'block border-primary rounded placeholder-neutral-dark w-full mb-sm'" id="nombre"
                    [type]="'text'" placeholder="Nombre" required></desy-input>
                <desy-label [for]="'apellido1'" [classes]="'text-left'">
                    Primer Apellido<span id="obligatorio"> *</span>
                </desy-label>
                <desy-input ngModel name="apellido1"
                    [classes]="'block border-primary rounded placeholder-neutral-dark w-full mb-sm'" id="apellido1"
                    [type]="'text'" placeholder="Primer Apellido" required></desy-input>
                <desy-label [for]="'apellido2'" [classes]="'text-left'">
                    Segundo Apellido
                </desy-label>
                <desy-input ngModel name="apellido2"
                    [classes]="'block border-primary rounded placeholder-neutral-dark w-full mb-sm'" id="apellido2"
                    [type]="'text'" placeholder="Segundo Apellido"></desy-input>
                <desy-label [for]="'email'" [classes]="'text-left'">
                    Email
                </desy-label>
                <desy-input ngModel name="email"
                    [classes]="'block border-primary rounded placeholder-neutral-dark w-full mb-sm'" id="email"
                    [type]="'email'" placeholder="Email"></desy-input>
                <desy-label [for]="'telefono'" [classes]="'text-left'">
                    Teléfono
                </desy-label>
                <desy-input ngModel name="telefono"
                    [classes]="'block border-primary rounded placeholder-neutral-dark w-full mb-sm'" id="telefono"
                    placeholder="Telefono"></desy-input>
                <div class="campoObligatorio">
                    <p class="text-left">Todos los campos marcados con <span id="obligatorio"> *</span> son
                        obligatorios.
                    </p>
                </div>
                <div class="modal-footer">
                    <desy-button type="button" id="" [classes]="'c-button--alert'" data-dismiss="modal"
                        [html]="'Cerrar'">
                    </desy-button>
                    <desy-button (click)="onAddAutor(addForm)" data-dismiss="modal" [id]="'add-autor-form'"
                        [classes]="'c-button--primary c-button--md'" [html]="'Guardar'">
                    </desy-button>
                </div>
            </form>
        </desy-description>
    </desy-modal>

    <!--Update modal-->
    <desy-modal [id]="'updateAutorModal'" [tabindex]="'-1'" [role]="'dialog'" [ariaLabelledBy]="'editAutorModalLabel'"
        [ariaHidden]="'true'" [classes]="'modal border border-neutral-base rounded bg-white'">
        <desy-title>
            Editar autor
        </desy-title>
        <desy-description>
            <div class="flex justify-center p-base">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em"
                    class="block w-16 h-16 text-primary-light" focusable="false" aria-hidden="true" role="presentation">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5">
                        <path d="M73.89 82.46l-21.652 3.098 3.091-21.66 55.685-55.685a13.125 13.125 0 0118.562 18.562z"
                            stroke-width="8.749995" />
                        <path
                            d="M111.545 83.125v43.75a8.75 8.75 0 01-8.75 8.75h-87.5a8.75 8.75 0 01-8.75-8.75v-87.5a8.75 8.75 0 018.75-8.75h43.75"
                            stroke-width="8.749995" />
                    </g>
                </svg>
            </div>
            <form #editForm="ngForm">
                <desy-label [for]="'name'" [classes]="'text-left'">Nombre<span id="obligatorio"> *</span></desy-label>
                <desy-input [type]="'text'" ngModel="{{editAutor?.nombre}}" name="nombre"
                    [classes]="'block border-primary rounded placeholder-neutral-dark w-full mb-sm'" [id]="'nombre'"
                    aria-describedby="emailHelp" placeholder="Nombre">
                </desy-input>
                <desy-input [type]="'hidden'" ngModel="{{editAutor?.dni}}" name="dni" id="dni" placeholder="dni">
                </desy-input>
                <desy-label [for]="'apellido1'" [classes]="'text-left'">Primer Apellido<span id="obligatorio"> *</span>
                </desy-label>
                <desy-input [type]="'text'" ngModel="{{editAutor?.apellido1}}" name="apellido1"
                    [classes]="'block border-primary rounded placeholder-neutral-dark w-full mb-sm'" [id]="'apellido1'"
                    placeholder="Primer Apellido">
                </desy-input>
                <desy-label [for]="'apellido2'" [classes]="'text-left'">Segundo Apellido</desy-label>
                <desy-input [type]="'text'" ngModel="{{editAutor?.apellido2}}" name="apellido2"
                    [classes]="'block border-primary rounded placeholder-neutral-dark w-full mb-sm'" [id]="'apellido2'"
                    placeholder="Segundo Apellido">
                </desy-input>
                <desy-label [for]="'telefono'" [classes]="'text-left'">Telefono</desy-label>
                <desy-input [type]="'text'" ngModel="{{editAutor?.telefono}}" name="telefono"
                    [classes]="'block border-primary rounded placeholder-neutral-dark w-full mb-sm'" [id]="'telefono'"
                    placeholder="Telefono"></desy-input>
                <desy-label [for]="'email'" [classes]="'text-left'">Email</desy-label>
                <desy-input [type]="'email'" ngModel="{{editAutor?.email}}" name="email"
                    [classes]="'block border-primary rounded placeholder-neutral-dark w-full mb-sm'" [id]="'email'"
                    placeholder="Email">
                </desy-input>
                <div class="campoObligatorio">
                    <p class="text-left">Todos los campos marcados con <span id="obligatorio"> *</span> son
                        obligatorios.
                    </p>
                </div>
                <div class="modal-footer">
                    <desy-button data-dismiss="modal" [classes]="'c-button--alert'" data-dismiss="modal"
                        [html]="'Cerrar'">
                    </desy-button>
                    <desy-button (click)="onUpdateAutor(editForm.value)" data-dismiss="modal"
                        [classes]="'c-button--primary'" [html]="'Guardar'"></desy-button>
                </div>
            </form>
        </desy-description>
    </desy-modal>

    <!--Delete modal-->
    <desy-modal [id]="'deleteAutorModal'" [tabindex]="'-1'" [role]="'dialog'" [ariaLabelledBy]="'deleteAutorModalLabel'"
        [ariaHidden]="'true'" [classes]="'modal border border-neutral-base rounded bg-white'">
        <desy-title>
            Borrar autor
        </desy-title>
        <desy-description>
            <div class="flex justify-center p-base">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em"
                    class="block w-16 h-16 text-alert-light" focusable="false" aria-hidden="true" role="presentation">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5">
                        <path
                            d="M100.625 122.5h-61.25a8.75 8.75 0 01-8.75-8.75V35h78.75v78.75a8.75 8.75 0 01-8.75 8.75zM56.875 96.25v-35M83.125 96.25v-35M13.125 35h113.75M83.125 17.5h-26.25a8.75 8.75 0 00-8.75 8.75V35h43.75v-8.75a8.75 8.75 0 00-8.75-8.75z"
                            stroke-width="8.749995" />
                    </g>
                </svg>
            </div>
            <p class="c-p my-base text-center pr-lg">
                Esta acción no se puede deshacer. ¿Estás seguro que quieres borrar a
                <strong>{{deleteAutor?.nombre}}</strong>?
            </p>
            <div class="flex flex-wrap gap-sm w-full justify-between">
                <div class="mt-sm">
                    <desy-button data-dismiss="modal">
                        Cancelar <span class="sr-only">y cerrar la ventana modal</span>
                    </desy-button>
                </div>
                <div class="mt-sm">
                    <desy-button (click)="onDeleteAutor(deleteAutor.dni)" data-dismiss="modal"
                        [classes]="'c-button--alert'">Si, borrar autor</desy-button>
                </div>
            </div>
        </desy-description>
    </desy-modal>
</div>