#main-container {
    padding: 10px;
}

ul {
    padding: 0px;
}

#table ::ng-deep .w-72 {
    width: 313px !important;
}


#deletebutton ::ng-deep .c-button--alert,
#editbutton ::ng-deep .c-button--primary {
    background-color: transparent;
}

#deletebutton ::ng-deep .c-button--alert i,
#editbutton ::ng-deep .c-button--primary i {
    color: #0a0a0a;
}

#editbutton ::ng-deep .c-button--primary:hover {
    background-color: #00607a;
}

#editbutton ::ng-deep .c-button--primary:hover i {
    color: white;
}

#deletebutton ::ng-deep .c-button--alert:hover{
    background-color: #D22333;
}

#deletebutton ::ng-deep .c-button--alert:hover i{
    color: white;
}

#titulo {
    display: inline;
    float: left;
    margin: 20px 10px;
}

#clear {
    clear: both;
}

#addautor {
    display: inline;
    float: right;
    margin: 30px 20px 30px 8px;
}

#addautor ::ng-deep .c-button--primary:hover {
    background-color: transparent;
}

#addautor ::ng-deep .c-button--primary:hover i, #addautor ::ng-deep .c-button--primary:hover {
    color: #0a0a0a;
}

#addautor i {
    margin-left: 10px;
    vertical-align: middle;
}

#table-icon {
    margin: 8px 10px 8px 0;
}

#obligatorio {
    color: red;
}

.campoObligatorio {
    font-size: 13px;
}


.paginator ::ng-deep .ngx-pagination a:hover,
.paginator ::ng-deep .ngx-pagination button:hover {
    border: 1px solid  #8b8b8b;
    color: black;
    border-radius: 4px !important;
}

.paginator ::ng-deep .ngx-pagination .pagination-previous a::before,
.paginator ::ng-deep .ngx-pagination .pagination-previous.disabled::before {
    content: '<';
    font-weight: bold;
    margin-right: 0.5rem;
}

.paginator ::ng-deep .ngx-pagination .pagination-next a::after,
.paginator ::ng-deep .ngx-pagination .pagination-next.disabled::after {
    content: '>';
    display: inline-block;
    margin-left: 0.5rem;
}


.paginator ::ng-deep .ngx-pagination {
    padding-left: 0px !important;
}

.paginator ::ng-deep .ngx-pagination .current {
    background: #00607a !important;
    border-radius: 4px !important;
}

.paginator ::ng-deep .ngx-pagination .current:hover {
    background: #16474e !important;
    border-radius: 4px !important;
}


.paginator ::ng-deep .ngx-pagination a,
.paginator ::ng-deep .ngx-pagination button {
    color: #0a0a0a;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
}