<div id="main-container">
    <div id="titulo">
        <h2>Autores</h2>
    </div>
    <div id="addautor">
        <a>Añadir Autor<span class="sr-only">(current)</span></a>
        <a (click)="onOpenModal(null!, 'add')" class="btn btn-outline-warning tooltips"><i class="fa fa-plus fa-xs"></i></a>
    </div>
    <div id="clear"></div>
    <div class="row">
        <div *ngFor="let autor of autors" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{autor?.nombre}}</h5>
                        <p class="m-0">{{autor?.apellido1}} {{autor?.apellido2}}</p>
                    </div>
                </div>
                <ul class="list-group list-group">
                    <li class="list-group-item"><i class="fa fa-user"></i>DNI: {{autor?.dni}}</li>
                    <li class="list-group-item"><i class="fa fa-envelope"></i>{{autor?.email}}</li>
                    <li class="list-group-item"><i class="fa fa-phone"></i>{{autor?.telefono}}</li>
                </ul>
                <div class="card-body">
                    <div class= "float-right">
                        <a (click)="onOpenModal(autor, 'edit')" class="btn btn-outline-warning tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a (click)="onOpenModal(autor, 'delete')" class="btn btn-outline-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"  aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Add modal-->
    <div class="modal fade" id="addAutorModal" tabindex="-1" role="dialog" aria-labelledby="addAutorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-title" id="addAutorModalLabel">Añadir Autor</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
                </div>
                <div class="modal-body">
                 <form #addForm="ngForm" (ngSubmit)="onAddAutor(addForm)">
                <div class="form-group">
                    <label for="dni">DNI<span id="obligatorio"> *</span></label>
                    <input type="text" ngModel name="dni" class="form-control" id="dni" placeholder="DNI" required>
                </div>
                 <div class="form-group">
                    <label for="name">Nombre<span id="obligatorio"> *</span></label>
                    <input type="text" ngModel name="nombre" class="form-control" id="nombre" placeholder="Nombre" required>
                 </div>
                 <div class="form-group">
                    <label for="text">Primer Apellido<span id="obligatorio"> *</span></label>
                    <input type="text" ngModel name="apellido1" class="form-control" id="apellido1" placeholder="Primer Apellido" required>
                 </div>
                 <div class="form-group">
                    <label for="text">Segundo Apellido</label>
                    <input type="text" ngModel name="apellido2" class="form-control" id="apellido2" placeholder="Segundo Apellido">
                 </div>
                 <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="text" ngModel name="telefono" class="form-control" id="telefono" placeholder="Telefono">
                 </div>
                 <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email">
                 </div>
                 <div class="campoObligatorio">
                     <p>Todos los campos marcados con <span id="obligatorio"> *</span> son obligatorios.</p>
                 </div>
                 <div class="modal-footer">
                    <button type="button" id="add-autor-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button [disabled]="addForm.invalid" type="submit" class="btn btn-warning" >Guardar</button>
                 </div>
                 </form>
              </div>
           </div>
        </div>
     </div>

    <div class="modal fade" id="updateAutorModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateAutorModalLabel">Editar Autor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="name">Nombre<span id="obligatorio"> *</span></label>
                        <input type="text" ngModel="{{editAutor?.nombre}}" name="nombre" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Nombre">
                    </div>
                    <input type="hidden" ngModel="{{editAutor?.dni}}" name="dni" class="form-control" id="dni" placeholder="dni">
                    <div class="form-group">
                        <label for="text">Primer Apellido<span id="obligatorio"> *</span></label>
                        <input type="text" ngModel="{{editAutor?.apellido1}}" name="apellido1" class="form-control" id="emaapellido1il" placeholder="Primer Apellido">
                    </div>
                    <div class="form-group">
                        <label for="text">Segundo Apellido</label>
                        <input type="text" ngModel="{{editAutor?.apellido2}}" name="apellido2" class="form-control" id="apellido2" placeholder="Segundo Apellido">
                    </div>
                    <div class="form-group">
                        <label for="phone">Telefono</label>
                        <input type="text" ngModel="{{editAutor?.telefono}}" name="telefono" class="form-control" id="telefono" name="telefono" placeholder="Telefono">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" ngModel="{{editAutor?.email}}" name="email" class="form-control" id="imageUrl" placeholder="Email">
                    </div>
                    <div class="campoObligatorio">
                        <p>Todos los campos marcados con <span id="obligatorio"> *</span> son obligatorios.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                        <button (click)="onUpdateAutor(editForm.value)" data-dismiss="modal" class="btn btn-warning">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
 
    <div class="modal fade" id="deleteAutorModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Borrar Autor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Seguro que quieres borrar a <strong>{{deleteAutor?.nombre}}</strong>?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="onDeleteAutor(deleteAutor.dni)" class="btn btn-danger" data-dismiss="modal">Si</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
  

